.container {
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0, 0, 0, 1);
}

.project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0, 0, 0, 1);
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    filter: grayscale(0);
    transition: opacity 0.5s cubic-bezier(0, 0, 0, 1);
}

.container:hover .background-image {
    opacity: 0.3;
    filter: grayscale(1);
}

.container:hover .project-title, .container:hover .project-description {
    opacity: 1;
}

@media (max-width: 768px) {
    .container {
        padding: 20px 0;
    }
    
    .container + .container {
        border-top: 1px solid #cccccc33;
    }

    .project-title {
        text-align: left;
        width: 100%;
        font-size: 1.2rem;
        opacity: 1;
    }

    .project-description {
        text-align: left;
        font-size: 0.9rem;
        opacity: 1;
    }

    .background-image {
        position: relative;
    }
}